{% extends 'base.html' %}
{% load static %}
{% block contenido %}
    <style type="text/css">
    *{
        text-align: center;
    }
  

    </style>
    <div class="container">
        <h2>¡Bienvenido a Carpincho Games!</h2>
        <div>
            <h2>Aniversario de la Provincia del Chaco</h2>
        </div>
        <img src="{% static 'images/capy1.jpg' %}" alt="Tincho el Carpincho" width="300" height="300"><img src="{% static 'images/escudochaco.png' %}" alt="Tincho el Carpincho" width="250" height="300">
    {% if user.is_authenticated %}
        <h3>Jugar Ahora! <a href="{% url 'jugar' %}">Entrar y Jugar</a> </h3>

    {% else %}

        <h3>¿Aún no tienes cuenta? ---> <a href="{% url 'registro' %}">Registrarse</a> </h3>
        <br><br>
        <h3>Si ya tienes una cuenta ---> <a href="{% url 'login' %}">Entrar y Jugar</a> </h3>
    {% endif %}
    </div>
{% endblock %}